[submodule "clang"]
	path = llvm_src/clang
	url = http://llvm.org/git/clang
[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython
[submodule "llvm"]
	path = llvm_src/llvm
	url = http://llvm.org/git/llvm.git
[submodule "llvm_src/compiler-rt"]
	path = llvm_src/compiler-rt
	url = http://llvm.org/git/compiler-rt.git
[submodule "libcxx"]
	path = llvm_src/libcxx
	url = http://llvm.org/git/libcxx.git
[submodule "llvm_src/libcxxabi"]
	path = llvm_src/libcxxabi
	url = http://llvm.org/git/libcxxabi
